* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none !important;
}

a:hover {
  text-decoration: none !important;
  color: #1428a0 !important;
}

.top-nav {
  width: 100%;
  height: 36px;
  background-color: #f2f2f2;
}

.top-nav .nav-container {
  max-width: 1280px;
  overflow: hidden;
  padding: 0 30px;
  margin: 0 auto;
  list-style: none;
  line-height: 36px;
  position: relative;
}

.top-nav .top-nav-left {
  font-size: 18px;
  display: inline-block;
}

.top-nav .top-nav-left a {
  color: #363636;
}

.top-nav .top-nav-left a:hover {
  color: #1428a0;
  text-decoration: none;
}

.top-nav .top-nav-right {
  font-size: 15px;
  display: inline-block;
  margin-right: 0;
}

.top-nav .top-nav-right a {
  color: #363636;
}

.top-nav .top-nav-right a:hover {
  color: #1428a0;
  text-decoration: none;
}

.top-nav .top-nav-right a i {
  font-size: 12px;
  padding-left: 10px;
}

.header {
  width: 100%;
  height: 65px;
  color: #333333;
}

.header .nav-container {
  max-width: 1280px;
  overflow: hidden;
  padding: 0 30px;
  margin: 0 auto;
  list-style: none;
  position: relative;
}

.header .nav-container .navbar-left > ul li {
  float: left;
  list-style: none;
  line-height: 65px;
  margin: 0 16px;
}

.header .nav-container .navbar-left > ul li:nth-child(1) {
  margin-left: 0;
}

.header .nav-container .navbar-left > ul li a {
  color: #363636;
  font-size: 15px;
  display: inline-block;
}

.header .nav-container b {
  display: inline-block;
  width: 130px;
  height: 22px;
  position: absolute;
  left: 50%;
  margin-left: -65px;
  top: 21px;
}

.header .nav-container b a {
  height: 65px;
  display: block;
}

.header .nav-container b img {
  width: 100%;
  vertical-align: middle;
}

.header .nav-container .navbar-right ul li {
  list-style: none;
  float: left;
  font-size: 17px;
  line-height: 65px;
  padding: 0 16px;
}

.header .nav-container .navbar-right ul li a {
  color: #363636;
}

.carousel-indicators li {
  background-color: #cccccc;
  width: 15px;
  height: 15px;
}

.carousel-indicators .active {
  width: 15px;
  height: 15px;
  margin: 0;
  background-color: #1428a0;
}

.carousel .carousel-inner .item {
  text-align: center;
  width: auto;
}

.carousel .carousel-inner .item img {
  height: 427px;
  width: 100%;
}

.content {
  margin: 0 115px;
  padding: 15px 15px 12px;
}

.content .img {
  display: inline-block;
}

.content .img .item {
  display: inline-block;
  padding: 19px 13px 14px;
}

.content-2 {
  margin: 0 119px;
  padding: 15px 25px 22px;
  position: relative;
}

.content-2 .top {
  height: 60px;
  position: relative;
}

.content-2 .top p {
  display: inline-block;
  font-size: 26px;
}

.content-2 .top b {
  float: right;
  font-size: 20px;
}

.content-2 .top ul {
  overflow: hidden;
  display: inline-block;
  position: absolute;
  bottom: 10px;
  left: 200px;
  height: 30px;
}

.content-2 .top ul li {
  list-style: none;
  float: left;
  font-size: 20px;
  margin: 0 15px;
}

.content-2 .next {
  overflow: hidden;
}

.content-2 .next .img li {
  float: left;
}

.content-2 .next .img li .peijian-1 {
  width: 295px;
  height: 375px;
}

.content-2 .next .img li .peijian-1 .main {
  padding: 20px 24px 20px 40px;
  text-align: center;
}

.content-2 .next .img li .peijian-1 .main img {
  width: 217px;
  height: 217px;
}

.content-2 .next .img li .peijian-1 .main h3 {
  font-size: 16px;
  margin: 15px 0 0;
  line-height: 50px;
}

.content-2 .next .img li .peijian-1 .main p {
  font-size: 16px;
}

.content-2 .button-left {
  position: absolute;
  top: 250px;
  font-size: 25px;
  padding: 10px 1px;
  border: 1px solid #f2f2f2;
}

.content-2 .button-left:hover {
  background-color: #e9e9e9;
}

.content-2 .button-right {
  position: absolute;
  top: 250px;
  right: 25px;
  font-size: 25px;
  padding: 10px 1px;
  border: 1px solid #f2f2f2;
}

.content-2 .button-right:hover {
  background-color: #e9e9e9;
}

.content-3 {
  max-width: 1280px;
  padding: 15px 30px;
  margin: 0 auto;
}

.content-3 .top p {
  font-size: 26px;
  margin: 0 0 32px;
}

.content-3 img {
  height: 184px !important;
}

.content-4 {
  max-width: 1280px;
  padding: 15px 30px;
  margin: 0 auto;
  overflow: hidden;
}

.content-4 .top p {
  font-size: 26px;
  margin: 0 0 32px;
}

.content-4 .img-list {
  width: 25%;
  text-align: center;
  float: left;
  position: relative;
}

.content-4 .img-list .main {
  padding: 20px 24px;
}

.content-4 .img-list .main img {
  width: 100%;
}

.content-4 .img-list .main h3 {
  font-size: 16px;
}

.content-4 .img-list .main p {
  font-size: 12px;
  color: #b1b1b1;
}

.content-4 .img-list .main b {
  font-weight: normal;
}

.content-4 .img-list .main span {
  font-size: 45px;
  color: #ad3a8d;
  position: absolute;
  top: 0;
  left: 0;
}

.content-4 .img-list .main span i {
  font-size: 14px;
  position: absolute;
  top: 5px;
  left: 8px;
  color: white;
}

.content-4 .img-list .main .blue {
  color: #1428a0;
}

.content-5 {
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  padding-bottom: 12px;
  max-width: 1276px;
}

.content-6 {
  max-width: 100%;
  padding: 0 30px;
  margin-top: 26px;
  background: #fff;
  border-top: 1px solid #dadee2;
}

.content-6 .container {
  width: 1220px;
  padding: 35px 0 28px;
}

.content-6 dl dt {
  float: left;
  width: 50px;
  height: 50px;
  margin: 5px 50px 0 0;
}

.content-6 dl dt i {
  font-size: 2em;
}

.content-6 dl dd {
  font-size: 16px;
  float: left;
}

.content-7 .footer-top {
  padding: 24px 0 23px;
  background-color: #f5f5f5;
}

.content-7 .footer-top dl,
.content-7 .footer-top dt,
.content-7 .footer-top dd {
  line-height: 24px;
}

.content-7 .footer-top .icon {
  font-size: 3em;
}

.content-7 .footer-top .icon span {
  padding: 20px 20px 0 0;
}

.content-7 .footer-top p {
  float: left;
}

.content-7 .footer-bottom {
  padding: 28px 0;
  background-color: #525252;
  color: #fff;
}

.content-7 .footer-bottom ul li {
  float: left;
  padding-right: 15px;
  margin-bottom: 20px;
}

.content-7 .footer-bottom ul li a {
  color: #fff;
}

.content-7 .footer-bottom p {
  float: left;
}

.content-7 .footer-bottom p:only-of-type {
  font-size: 12px;
  color: #cccccc;
}

.content-7 .footer-bottom p:nth-child(1) {
  width: 420px;
  font-size: 12px;
}
